# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.build/

# Android build directories
/android/app/build/
/android/.gradle/
/build/
/gradle/
/.gradle/
/local.properties

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release
*.apk
*.ap_


# NDK (Native Development Kit) build directories
/android/app/.cxx/
/android/app/src/main/cpp/.cxx/

# Generated CMake files (if applicable)
cmake-build-*/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Firebase
google-services.json

# JetBrains (other IDEs like WebStorm, PhpStorm, etc.)
.idea/

# Android Studio files
*.iml
.idea/

# Other config files
*.log
